:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --transition-duration: 0.4s;
}

.content .content-text h1::after {
    width: 100px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.courses .course {
    position: relative;
    overflow: hidden;
}

.courses .course .background {
    width: 100%;
    height: 250px;
}

.courses .course .bg {
    max-width: 100%;
}

.courses .course img.team {
    border: 2px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.cours-content{
    font-family: "Open Sans", sans-serif;
    padding:0 20px 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.cours-content p{
    line-height: 1.6;
}
.cours-content .n-button{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,50%);
}
.course-footer{
    margin-top: 15px;
    padding: 10px 20px 20px;
}